html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.photobooth {
  max-width: 800px;
  margin: 20px auto;
}

.videoplayer {
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
}

.photostrip {
  padding: 10px;
}

.photostrip img {
  width: 200px;
  overflow-x: scroll;
  /*padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;*/
}